@inherits LayoutComponentBase
@inject NavigationManager NavManager
@using Clearance.Client.Pages.Users

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <a class="text-white" href="/ChangePassword" title="تغيير كلمة المرور" data-toggle="tooltip"><i class="oi oi-lock-locked"></i></a>
                    <a class="text-white" href="/logout" title="تسجيل الخروج" data-toggle="tooltip"><i class="oi oi-account-logout"></i></a>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="container">
            <div class="row h-100">
                <Login />
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {
    protected override Task OnInitializedAsync()
    {
        //NavManager.NavigateTo("/login");
        return base.OnInitializedAsync();
    }
}