<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">براءة الذمة</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <ul class="nav flex-column " style="padding-right:0px">
        @*  <li class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> الرئيسية
        </NavLink>
        </li>*@

        @if (user.User.IsInRole("Admin"))
        {

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Directions">
                    <span class="oi oi-eye" aria-hidden="true"></span> الجهات
                </NavLink>
            </li>

            @* <li class="nav-item px-3">
        <NavLink class="nav-link" href="users" @onclick="()=> ExpandSubMenu = !ExpandSubMenu">
        <span class="oi oi-person" aria-hidden="true"></span> الموظفون
        </NavLink>
        @if (ExpandSubMenu)
        {
        <ul class="nav flex-column">
        <li class="nav-item">
        <NavLink class="nav-link" href="/users">
        <span class="oi oi-person" aria-hidden="true"></span> قائمة الموظفون
        </NavLink>
        </li>
        <li class="nav-item">
        <NavLink class="nav-link" href="register">
        <span class="oi oi-plus" aria-hidden="true"></span> موظف جديد
        </NavLink>
        </li>
        <li class="nav-item">
        <NavLink class="nav-link" href="RoleForUser">
        <span class="oi oi-file" aria-hidden="true"></span> صلاحيات المستخدمين
        </NavLink>
        </li>
        </ul>
        }
        </li>*@
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="register">
                    <span class="oi oi-plus" aria-hidden="true"></span> موظف جديد
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/users">
                    <span class="oi oi-person" aria-hidden="true"></span> الموظفون
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="RoleForUser">
                    <span class="oi oi-file" aria-hidden="true"></span> الصلاحيات
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Collages">
                    <span class="oi oi-home" aria-hidden="true"></span> المراكز
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="AdminClearances">
                    <span class="oi oi-bookmark" aria-hidden="true"></span> طلبات براءة الذمة
                </NavLink>
            </li>
        }

        @if (user.User.IsInRole("SuperVisor"))
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="SuperVisorClearances">
                    <span class="oi oi-bookmark" aria-hidden="true"></span> الطلبات الجديدة
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="SuperVisorClearancesDone">
                    <span class="oi oi-cloud-download" aria-hidden="true"></span> الطلبات البريئة
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="SuperVisorClearancesNotDone">
                    <span class="oi oi-cloud-upload" aria-hidden="true"></span> الطلبات غير بريء
                </NavLink>
            </li>
        }
        @if (user.User.IsInRole("User"))
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Clearances">
                    <span class="oi oi-bookmark" aria-hidden="true"></span> براءة الذمة
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { set; get; }
    AuthenticationState user;

    private bool collapseNavMenu = true;
    private bool ExpandSubMenu;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {

        user = await authenticationState;
        //if (user != null && user.User.Identity.IsAuthenticated)
        //{
        //    var Email = user.User.Identity.Name;
        //    if (user.User.IsInRole("Admin") || user.User.IsInRole("SuperVisor"))
        //    {
        //        lst_ClearanceDTO = await ser.GetAll();

        //    }
        //    else if (user.User.IsInRole("User"))
        //    {
        //        userDTO = await http.GetUser(Email);
        //        lst_ClearanceDTO = await ser.GetAllByUserId(userDTO.Id);
        //    }
        //}
    }

}
