@page "/EditClearance/{Id:int}"
@inject ClearanceService ser
@inject NavigationManager navManager
@inject IJSRuntime js
@attribute [Authorize(Roles = "Admin")]

<AuthorizeView Context="aContext">
    <Authorized>
        <PageTitle>تعديل براءة ذمة </PageTitle>
        @if (clearanceDTO is not null)
        {
            <div class="card">
                <div class="card-header">
                    <span class="card-header-text">تعديل براءة ذمة</span>
                </div>
                <div class="card-body">
                    <EditForm Model="clearanceDTO" OnValidSubmit="Save">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="form-group">
                            <label for="FirstName">اسم الطالب</label>
                            <InputText id="FirstName" class="form-control mb-2" @bind-Value="clearanceDTO.FirstName" placeholder="اسم الطالب"></InputText>
                            <label for="LastName">الكنية</label>
                            <InputText id="LastName" class="form-control mb-2" @bind-Value="clearanceDTO.LastName" placeholder="الكنية"></InputText>
                            <label for="Father">اسم الأب</label>
                            <InputText id="Father" class="form-control mb-2" @bind-Value="clearanceDTO.Father" placeholder="اسم الأب"></InputText>
                            <label for="Mother">اسم الأم</label>
                            <InputText id="Mother" class="form-control mb-2" @bind-Value="clearanceDTO.Mother" placeholder="اسم الأم"></InputText>
                            <label for="UnivNum">الرقم الجامعي</label>
                            <InputText id="UnivNum" class="form-control mb-2" @bind-Value="clearanceDTO.UnivNum" placeholder="الرقم الجامعي"></InputText>
                            <label for="NationalNum">الرقم الوطني</label>
                            <InputText id="NationalNum" class="form-control mb-2" @bind-Value="clearanceDTO.NationalNum" placeholder="الرقم الوطني"></InputText>
                            <label for="CollageName">كلية / معهد الطالب</label>
                            <input readonly id="CollageName" class="form-control mb-2" @bind-value="clearanceDTO.CollageName" placeholder="كلية / معهد الطالب"></input>
                            <label for="Department">القسم / الاختصاص</label>
                            <InputText id="Department" class="form-control mb-2" @bind-Value="clearanceDTO.Department" placeholder="القسم / الاختصاص"></InputText>
                            <label for="UserName">الموظف مدخل البيانات</label>
                            <input readonly id="UserName" class="form-control mb-2" @bind-value="clearanceDTO.UserName" placeholder="الموظف مدخل البيانات"></input>
                            <label for="Mobile">رقم الموبايل</label>
                            <InputText id="Mobile" class="form-control mb-2" @bind-Value="clearanceDTO.Mobile" placeholder="09..."></InputText>
                            <label for="year">السنة الدراسية</label>
                            <InputSelect id="year" class="form-select mb-2" @bind-Value="clearanceDTO.Year" placeholder="السنة الدراسية">
                                <option value="">إختر السنة الدراسية....</option>
                                <option value="الأولى">الأولى</option>
                                <option value="الثانية">الثانية</option>
                                <option value="الثالثة">الثالثة</option>
                                <option value="الرابعة">الرابعة</option>
                                <option value="الخامسة">الخامسة</option>
                                <option value="السادسة">السادسة</option>
                                <option value="متخرج">متخرج</option>
                            </InputSelect>
                            <label for="AppointmentDate">تاريخ المراجعة</label>
                            <input type="datetime" readonly id="AppointmentDate" class="form-control mb-2" @bind-value="clearanceDTO.AppointmentDate" placeholder="الموظف مدخل البيانات"></input>
                            <label for="AppointmentDate">تاريخ تقديم الطلب</label>
                            <input type="datetime" readonly id="AppointmentDate" class="form-control mb-2" @bind-value="clearanceDTO.OrderApplyDate" placeholder="الموظف مدخل البيانات"></input>

                            <div class="form-group d-flex justify-content-center">
                                <button class="btn btn-success mx-2" type="submit">حفظ</button>
                                <button class="btn btn-outline-dark" @onclick="Cancel">إلغاء الأمر</button>
                            </div>
                        </div>

                    </EditForm>
                </div>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-danger" role="alert">
            you are not authoriazed
        </div>
    </NotAuthorized>
</AuthorizeView>



@code {
    [Parameter]
    public int Id { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { set; get; }
    private ClearanceDTO? clearanceDTO = new();


    protected override async Task OnParametersSetAsync()
    {
        if (Id > 0)
        {
            clearanceDTO = await ser.GetById(Id);
        }
    }

    async void Save()
    {
        bool result = false;

        if (Id > 0)
        {
            result = await ser.Update(clearanceDTO, Id);
        }


        if (result)
        {
            navManager.NavigateTo("/AdminClearances");
        }
        else
        {
            await js.InvokeVoidAsync("alert", "حدث خطأ عند الحفظ");
        }

    }

    void Cancel()
    {
        navManager.NavigateTo("/AdminClearances");
    }
}
